.container-main {
  /* display: table; */
  width: 95%;
  margin-left: 10px;
  /* margin-right: 7px */
}

/* GENERAL */
.al-icon{
  width: 15px;
  height: 24px;
  margin-right: 0.5em;
}

.al-check-icon{
  width: 15px;
  height: 24px;
  margin-right: 0.2em;
  margin-left: 0.30em;
  margin-bottom: 5px;
}
.al-font{
  font-weight: 700;
}

.al-font-strong-blue{
 color:#004085;
}

.al-btn{
  background-color: #004085;
}

.bg-beige{
  background-color: beige
}

/* FILTER SECTION */
.filter-panel{
  margin-bottom:  5px;
}

.filter-input{
  background-color: beige;
  margin-right: 15px;
  width: 65%;
}

/* HOTEL RESULT */
.hotel-row{
  margin-bottom: 5px;
  box-shadow: 0px 5px 5px -6px #111;
  padding-bottom: 0.5em
}

.hotel-row .img-column{
  height: 225px;
  padding: 0.5em;
}

.hotel-row .info-column{
  height: 100%;
  width:350px;
  margin-top: 5px;
  margin-left:10px
}

.hotel-row .price-column{
  height: 100%;
  width:200px;
  margin-left:30px;
  margin-top: 30px;
  padding: 0 1em 0 1em;
  border-left-style: dotted;
  border-color: #d4d0d0;
}

.price-info-text{
  text-align: center;
  padding: 0em 2em 1em 2em;
  font-size: 13px;
}


.price-text{
  /* padding-left: 1.5em; */
  margin-bottom: 5px;
  margin-left: 11px;
}
.currency-text{
  color: rgb(255, 103, 1);
  font-size: 20px;  
  vertical-align: middle;
  display: inline;
}

.currency-number {
  color: rgb(255, 103, 1);
  font-size: 30px;
  font-weight: bold;
}
.amenity-icon{
  width: 17px;
  margin: 0 4px 0 4px;
}

.hotel-img{
  height: 100%;
  width: 328px;
}