<div class="container-main" 
  fxLayout 
  fxLayout.xs="column" 
  fxLayoutGap="15px"
  fxLayoutGap.xs="10">
  <!-- FILTER SECTION -->

  <div class="filter-section " fxFlex="25%">
    <mat-expansion-panel class="bg-beige filter-panel" disabled>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="al-font al-font-strong-blue">Filtros</div>
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-expansion-panel class="bg-beige filter-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <img src="../../assets/icons/filters/search.svg" class="al-icon">
          <div class="al-font text-primary">Nombre de hotel</div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <input type="text" class="filter-input"  placeholder="Ingrese el nombre del hotel" [(ngModel)]="hotelName">
      <button type="button" class="btn-xs btn-primary" (click)=searchHotels()>Aceptar</button>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel class="bg-beige filter-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <img src="../../assets/icons/filters/star.svg" class="al-icon">
          <div class="al-font text-primary">Estrellas</div>
        </mat-panel-title>
    </mat-expansion-panel-header>
        <div>
          <div  class="al-font al-font-strong-blue">
            <input type="checkbox" [(ngModel)]=allStars  (change)=filterByRating() >  Todas las estrellas
          </div>
          <div >
            <input type="checkbox" [(ngModel)]=fiveStars  (click)=ratingChange(5)>
              <img *ngFor="let item of arrayOf(5)" src="../../assets/icons/filters/star_yellow.svg" class="al-check-icon">
          </div>
          <div >
            <input type="checkbox" [(ngModel)]=fourStars  (click)=ratingChange(4)>
              <img *ngFor="let item of arrayOf(4)" src="../../assets/icons/filters/star_yellow.svg" class="al-check-icon">
          </div>
          <div >
            <input type="checkbox" [(ngModel)]=threeStars  (click)=ratingChange(3)>
              <img *ngFor="let item of arrayOf(3)" src="../../assets/icons/filters/star_yellow.svg" class="al-check-icon">
          </div> 
          <div >
            <input type="checkbox" [(ngModel)]=twoStars  (click)=ratingChange(2)>
              <img *ngFor="let item of arrayOf(2)" src="../../assets/icons/filters/star_yellow.svg" class="al-check-icon">
          </div>
          <div >
            <input type="checkbox" [(ngModel)]=oneStars  (click)=ratingChange(1)>
              <img *ngFor="let item of arrayOf(1)" src="../../assets/icons/filters/star_yellow.svg" class="al-check-icon">
          </div>
        </div>
      </mat-expansion-panel>
      
    </div>
    
    <!-- RESULT SECTION -->
  <!-- <div class="hotel-section right-half"> -->
  <div class="hotel-section" fxFlex="90%" fxLayout="row">
    <div class="container" >
      <div *ngFor="let hotel of filteredHotels" class="row hotel-row bg-beige">
        <div class="img-column">
          <img src="../../assets/images/hotels/{{hotel.image}}" class="img-fluid hotel-img" alt="Responsive image">
        </div>
        <div class="info-column ">
          <div class="al-font text-primary">{{hotel.name}}</div>
          <div  >
            <img *ngFor="let item of arrayOf(hotel.rating);" src="../../assets/icons/filters/star_yellow.svg" class="al-icon">
          </div>
          <div>
            <img *ngFor="let amenity of hotel.amenities" src="../../assets/icons/amenities/{{amenity}}.svg" class="amenity-icon">
          </div>
        </div>
        <div class="price-column">
          <div class="price-info-text al-font-strong-blue">Precio por noche por habitacion</div>
          <div class="price-text">
            <p class="currency-text">ARS </p><p class="currency-text currency-number">{{hotel.price}}</p>
          </div>
          <button type="button" class="btn-sm btn-block btn-primary">Ver Hotel</button>
        </div>


      </div>
   
    </div>
  </div>
</div>


